* {
  font-family: Arial, Helvetica, sans-serif;
}

.document {
  width: 210mm;
  margin: 0 auto;
  padding: 20mm;
  font-family: Arial, sans-serif;
  border: 1px solid #000;
}

.document__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.document__logo__container {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  gap: 10px;
}

.document__logo {
  width: 100px;
}

.document__title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.document__info {
  margin-top: 20px;
  font-size: 16px;
}

.document__info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.document__info-table th,
.document__info-table td {
  border: 1px solid #000;
  padding: 5px;
  text-align: left;
}

.document__footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 15px;
}

.document__footer-info {
  margin-top: 10px;
}

.document__footer-qr {
  text-align: center;
  margin-top: 20px;
}

.document__footer-qr img {
  width: 100px;
}
