* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .document {
    margin: 0 auto;
    padding: 5mm 20mm 5mm 20mm;
    font-family: Arial, sans-serif;
  }
  
  .document__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .document__logo__container {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    gap: 10px;
  }
  
  .document__logo {
    width: 100px;
  }
  
  .document__title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .document__info {
    margin-top: 20px;
    font-size: 12px;
  }
  
  .document__info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .document__info-table th,
  .document__info-table td {
    border: 1px solid #000;
    padding: 3px;
    text-align: left;
  }
  
  .document__footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 12px;
  }
  
  .document__footer-info {
    margin-top: 10px;
  }
  
  .document__footer-qr {
    text-align: center;
    margin-top: 20px;
  }
  
  .document__footer-qr img {
    width: 100px;
  }
  